.header-container {
    padding: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: red !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}