<div class="container">
    <md-content ng-hide="isLoading" layout-gt-sm="row" layout-align="center" layout-padding style="background-color: #ffffff">
        <div flex="50">
            <md-subheader class="md-no-sticky">
                <h2>Teambot is configured</h2> </md-subheader>
            <md-list-item>
                <p> Slack team name: </p>
                <p class="md-secondary">{{ config.teamName }}</p>
            </md-list-item>
            <md-list-item>
                <p> Slack team URL: </p>
                <a href="{{config.teamUrl}}" target="_blank" class="md-secondary">{{ config.teamUrl }}</a>
            </md-list-item>
            <md-list-item>
                <p> ClientId:</p>
                <p class="md-secondary">{{ config.clientId }}</p>
            </md-list-item>
            <md-list-item>
                <p> ClientSecret:</p>
                <p class="md-secondary">{{ config.clientSecret }}</p>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="resetSettings()" class="md-raised md-primary">Reset Configuration</md-button>
            </md-list-item>
        </div>
    </md-content>
    <md-progress-linear md-mode="query" ng-show="isLoading"></md-progress-linear>
</div>